.password-reset-container {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .password-reset-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .password-reset-container input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .password-reset-container button {
    width: 100%;
    padding: 10px;
    background-color: violet;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border-radius: 20px;
    text-align: center;
  }
  
  .password-reset-container button:hover {
    background-color: #3b5998;
  }
  